.o_home_menu_background {
	background: url(/theme/static/src/img/home-menu-bg-overlay.svg), linear-gradient(to right bottom, #ffffff, #003fa2);
	background-size: cover;
}

.o_home_menu_background:not(.o_home_menu_background_custom) .o_main_navbar {
	background-color: transparent;
	border-color: transparent;
}

// Colores
.o_main_navbar {
	border-bottom: 1px solid #003fa2;
	background-color: #003fa2;
	color: white;
}

.o_home_menu .o_home_menu_scrollable .o_apps .o_app .o_caption {
	/*color: #003fa2 !important;*/
}

.o_main_navbar>ul>li>a,
.o_main_navbar>ul>li>label {
	/*color: #003fa2;*/
}